$header-hidden-width: 100px;
$header-width: 180px;
$header-transition-time: 300ms;

$page-width: 800px;
$page-side-padding: 100px;
$page-top-padding: 80px;
$page-bottom-padding: 80px;

$page-nav-width: 250px;
$page-nav-margin: 50px;