$top-bar-height: 65px;
$header-transition-time: 300ms;

$top-space: $top-bar-height - 17px;

$page-width: 700px;
$page-side-padding: 100px;
$page-top-padding: 80px;
$page-bottom-padding: 80px;

$page-nav-width: 250px;
$page-nav-margin: $page-side-padding;