body {
  font-family: 'freight-sans-pro';
  color: $grey-1;
  font-size: 22px;
}

strong, h1, h2, h3, h4, h5, h6 {
  font-family: 'brandon-grotesque';
  font-weight: 600;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

p, ul, ol {
  line-height: 150%;
}