body {
  font-family: 'freight-sans-pro';
  color: $grey-2;
  font-size: 22px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'brandon-grotesque';
  font-weight: 700;
}

strong {
  font-weight: 600;
}

a {
  text-decoration: none;
  @include link-colors($teal, lighten($teal, 10));
  @include transition(color 250ms ease);
}

img {
  max-width: 100%;
  height: auto;
}

p, ul, ol {
  line-height: 150%;

  @media screen and (max-width: 750px) {
    line-height: 120%;
  }
}