html {
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
  overflow-y: scroll;
}

body {
  text-rendering: optimizeLegibility;
}

html, body {
  height: 100%;
  width: 100%;
}

img {
  max-width: 100%;
  height: auto;
}

iframe {
  max-width: 100%;
}

// http://www.paulirish.com/2012/box-sizing-border-box-ftw/
*, *:before, *:after {
  @include box-sizing(border-box);
}