h2 {
  margin: 0;
  font-size: 80px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

@media screen and (max-width: 1200px) {
  h2 {
    font-size: 75px;
  }
}

@media screen and (max-width: 1150px) {
  h2 {
    font-size: 70px;
  }
}

@media screen and (max-width: 750px) {
  h2 {
    font-size: 60px;
  }
}