.content.page {
  background-color: #fffeef;
  padding: $page-top-padding $page-side-padding $page-bottom-padding $page-side-padding;
  max-width: $page-width + ($page-side-padding * 2);

  section {
    padding-top: $top-space;
    margin-top: -20px;
  }

  h3 {
    font-size: 36px;
    margin: 0;
    padding-top: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
  }

  p {
    margin: 20px 0;
  }
}