body.page {
  background-color: $off-white;
}

.content.page {
  section {
    padding-top: $top-space;
    margin-top: -20px;

    @media screen and (max-width: 950px) {
      margin-top: -48px;
    }

    @media screen and (max-width: 550px) {
      header {
        margin-bottom: -10px;
      }
    }
  }

  h3 {
    font-size: 36px;
    margin: 0;
    padding-top: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;

    @media screen and (max-width: 600px) {
      font-size: 32px;
    }
  }

  p {
    margin: 20px 0;
  }
}