.content.page {
  padding: $page-top-padding $page-side-padding $page-bottom-padding $page-side-padding;
  max-width: $page-width + ($page-side-padding * 2);

  h2 {
    margin: 0;
    font-size: 80px;
    text-transform: uppercase;
    letter-spacing: 2px;
  }

  h3 {
    font-size: 36px;
    margin: 0;
    margin-top: 80px;
    text-transform: uppercase;
    letter-spacing: 1px;
  }

  p {
    margin: 20px 0;
  }
}