#records {
  h2 {
    text-align: center;
  }

  .table-container {
    position: relative;
    clear: both;
  }

  table {
    width: 100%;
    display: none;

    &.exiting {
      position: absolute;
      left: 0;
      top: 0;
    }

    &.course {
      display: table;
    }

    &.year-winners {
      .event {
        padding-right: 20px;
        vertical-align: top;
        font-weight: 600;
      }

      .time {
        text-align: right;
      }

      .event-row td {
        padding-top: 20px;
      }

      .heading + .event-row td {
        padding-top: 0;
      }
    }

    td {
      padding-right: 10px;

      &:last-child {
        padding-right: 0;
      }
    }

    h4 {
      font-size: 32px;
      margin-bottom: 20px;
      margin-top: 40px;
      text-align: center;
      position: relative;
      text-transform: uppercase;

      span {
        position: relative;
        display: inline-block;
        z-index: 5;
        background-color: $off-white;
        padding: 0 20px;
      }

      &:before {
        content: '';
        display: block;
        position: absolute;
        border-top: 2px solid;
        top: 50%;
        left: 0;
        right: 0;
        z-index: -1;
      }
    }

    tr:first-child h4 {
      margin-top: 20px;
    }
  }

  .event {
    // @include whitney-medium;
  }

  .filters{
    font-size: 20px;
    text-transform: lowercase;
    text-align: center;

    span {
      color: $teal;
      cursor: pointer;
    }

    &, ul {
      list-style-type: none;
      padding: 0;
    }

    li {
      display: inline-block;
      margin-right: 10px;
    }

    .year {
      position: relative;

      & > span:after {
        content: '\e802';
        @include icon;
        text-align: left;
        width: auto;
        margin-left: 0.6em;
      }

      ul {
        position: absolute;
        display: none;
        margin: 0;
        width: 100%;
        text-align: center;
        background: black;
        @include border-bottom-radius(5px);
        overflow: hidden;
        z-index: 50;

        span {
          display: block;
          color: $off-white;
        }

        li {
          background-color: black;
          @include transition(background-color 200ms ease);
          line-height: 25px;
          &:hover {
            background-color: lighten(black, 10);
          }

          &:first-child {
            padding-top: 3px;
          }
          &:last-child {
            padding-bottom: 3px;
          }
        }
      }

      li {
        display: block;
        margin-right: 0;
      }
    }

    .current {
      span {
        color: $red;
        font-weight: 600;
      }
    }
  }
}