@mixin button {
  display: inline-block;
  background-color: $red;
  color: $off-white;
  padding: 20px;
  font-size: 15px;
  line-height: 20px;
  text-transform:uppercase;
  letter-spacing: 1px;
  font-weight: 700;

  border: none;
  @include transition(background-color ease 250ms);

  &:hover {
    background-color: lighten($red, 10);
    color: $off-white;
  }

  &.disabled {
    background-color: $grey-1;
  }
}

.button {
  @include button;
}