#wrapper {
  margin-left: $header-hidden-width;
  height: 100%;
  @include transition(margin-left $header-transition-time ease);
}

body.nav-shown {
  #wrapper {
    margin-left: $header-width;
  }
}

.content {
  padding: 10px 20px 40px 20px;
}