body {
  padding-top: $header-hidden-height;
}

#header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: $red;
  z-index: 400;
  padding: 0 $page-side-padding;
  text-align: right;

  @include transition(height $header-transition-time ease);

  h1 {
    position: fixed;
    left: $page-side-padding;
    top: 0;

    margin: 0;
    @include transform(scale(0.9));

    @include hide-text;
    background: image-url('logo.png') no-repeat center;
    background-size: 100% 100%;

    $logo-width: 140px;
    width: $logo-width;
    height: image-height('logo.png') / image-width('logo.png') * $logo-width;
  }

  a {
    color: white;
  }

  .register {
    display: block;
    float: right;
    line-height: $header-hidden-height;
    height: $header-hidden-height;
    margin-right: 20px;
  }

  .dates {
    text-transform: uppercase;
    color: white;
    display: block;
    float: right;
    line-height: $header-hidden-height;
    height: $header-hidden-height;
    margin-right: 20px;
  }
}

#pull-nav {
  position: relative;
  z-index: 500;
  display: block;
  float: right;
  line-height: $header-hidden-height;
  height: $header-hidden-height;
  vertical-align: middle;
  padding-right: 50px + 10px;

  &:after {
    @include icon;
    font-size: 50px;
    content: '\e800';
    position: absolute;
    margin: 0;
    padding: 0;
    height: $header-hidden-height;
    width: 50px;
    line-height: $header-hidden-height;
    top: 0;
    right: 0;
  }
}