body {
  padding-top: $header-hidden-height;
}

#header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: $red;
  z-index: 400;
  padding: 0 $page-side-padding;
  text-align: right;

  @include transition(height $header-transition-time ease);

  h1 {
    position: fixed;
    left: 0;
    top: 0;

    margin: 0;
    @include transform(scale(0.9));

    @include hide-text;
    background: image-url('logo.png') no-repeat center;
    background-size: 100% 100%;

    $logo-width: 140px;
    width: $logo-width;
    height: image-height('logo.png') / image-width('logo.png') * $logo-width;
  }

  a {
    color: white;
  }
}

#pull-nav {
  position: relative;
  display: inline-block;
  font-size: 50px;
  z-index: 500;

  &:before {
    @include icon;
    display: block;
    height: $header-hidden-height;
    margin: 0;
    padding: 0;
    content: '\e800';
    line-height: $header-hidden-height;
  }
}