body {
  padding-top: $top-space;
}

#header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: $top-bar-height;
  background: image-url('top-bar-v2.png') repeat-x;
  z-index: 400;
  text-align: right;

  @include transition(height $header-transition-time ease);

  h1 {
    z-index: 500;
    position: relative;
    float: left;

    margin: 0;
    @include hide-text;
  }

  img.logo {
    display: block;
    float: left;
    height: 74%;
    width: auto;
    margin-top: 4px;
  }
}

#pull-nav {
  position: relative;
  z-index: 500;
  display: block;
  float: right;
  line-height: $top-bar-height;
  height: $top-bar-height;
  vertical-align: middle;
  font-weight: 400;

  padding-right: 50px;
  background: image-url('menu-v2.png') no-repeat right;

  color: #271F1F;
}