#nav {
  font-size: 14px;
  text-align: left;
  margin-top: 80px;

  ul {
    @include reset-list;
  }

  li {
    margin-top: 20px;
  }

  h3 {
    margin: 0;
    margin-bottom: 5px;
  }

  p {
    margin: 0;
  }

  a {
    color: black;
  }
}