#nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: $red;

  z-index: -1;
  top: -100%;
  visibility: hidden;

  font-size: 40px;
  text-align: left;
  padding: 0;
  display: table;

  font-family: 'brandon-grotesque';
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: center;

  .inner {
    display: table-cell;
    vertical-align: middle;
  }

  @include transition(z-index 0 linear $header-transition-time, visibility 0 linear $header-transition-time, top $header-transition-time ease);

  ul {
    @include reset-list;
  }

  li {
    a {
      display: inline-block;
      padding: 5px 0;
    }
  }

  #home-link {
    display: none;
    position: absolute;
    top: 0;
    left: 20px;
    font-size: 30px;

    &:before {
      @include icon;
      content: '\e80b';
      line-height: $top-bar-height;
      margin: 0;
      padding: 0;
    }
  }
}

body.nav-shown {
  #nav {
    z-index: 450;
    visibility: visible;
    top: 0;

    @include transition(z-index 0 linear, visibility 0 linear, top $header-transition-time ease);
  }
}