#nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: $red;

  z-index: -1;
  top: -100%;
  visibility: hidden;

  font-size: 40px;
  text-align: left;
  padding: 0;
  display: table;

  font-family: 'brandon-grotesque', Helvetica, Arial, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: center;

  a {
    color: $off-white;
  }

  .inner {
    display: table-cell;
    vertical-align: middle;
  }

  @include transition(z-index 0 linear $header-transition-time, visibility 0 linear $header-transition-time, top $header-transition-time ease);

  ul {
    @include reset-list;
  }

  li {
    a {
      display: inline-block;
      padding: 5px 0;
    }
  }

  @media screen and (max-width: 600px) {
    font-size: 32px;
  }
}

body.nav-shown {
  #nav {
    z-index: 450;
    visibility: visible;
    top: 0;

    @include transition(z-index 0 linear, visibility 0 linear, top $header-transition-time ease);
  }
}