nav.page {
  font-family: 'brandon-grotesque';
  position: fixed;
  top: $page-top-padding + $header-hidden-height;
  right: $page-nav-margin;
  width: $page-nav-width;
  border-top: 4px solid $red;
  border-bottom: 4px solid $red;
  padding: 10px 20px 10px 0;
  font-size: 26px;

  p.title {
    font-weight: 600;
    margin: 0;
    margin-bottom: 20px;
    color: $red;
    text-transform: uppercase;
    letter-spacing: 1px;
  }

  ul {
    @include reset-list;
  }

  a {
    color: $red;
  }
}

.content.page.nav {
  margin-right: $page-nav-width + $page-nav-margin;
}