body.alt {
  background-color: $off-white;

  img#alt {
    width: 100%;
    height: auto;
  }

  nav.alt-nav {
    margin: 20px 0;
    text-align: center;

    ul {
      @include reset-list;
      display: inline-block;
    }

    li {
      float: left;
      margin-right: 20px;

      &:first-child {
        margin-left: 20px;
      }
    }

    a {
      color: $red;
    }
  }
}