#bamboo {
  background-color: transparent;

  .inner {
    @include texture;
  }

  .text-container {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 50%;
    height: 50%;
  }

  .overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(black, 0.2);
  }

  .text {
    @include fit('bamboo/text1.png');
    bottom: 0;
    right: 0;
    left: auto;
    top: auto;
    @include transform(none);

    img {
      position: absolute;
      left: 10%;
      top: 10%;
      width: 80%;
      height: 80%;
    }
  }
}