body.home {
  p {
    position: relative;
    text-align: center;
    font-size: 100px;
    line-height: 100%;
    color: $red;
    font-weight: 600;
    padding: 40px;
  }

  .video-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    background: black;

    video {
      position: absolute;
      min-width: 100%;
      min-height: 100%;
      width: auto;
      height: auto;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      -webkit-transform: translate(-50%, -50%);
      display: block;
    }
  }

  section {
    &, .inner {
      background-color: #302a2a;
    }
  }
}