#despair {
  &:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: image-url('texture.png');
  }

  &, .inner {
    background-color: #3b3225;
  }

  .runners {
    @include fit('despair/person.png');

    img {
      position: absolute;
      display: block;
      height: 100%;
      width: auto;
      max-width: none;
    }

    .runner {
      left: 0%;
      @include transform(translateX(-100%));
      @include transition-property(left, transform);
      @include transition-timing-function(linear);
    }
  }

  &.run {
    .runners {
      .runner {
        left: 100%;
        @include transform(translateX(0%));
      }
    }

    .text-container {
      opacity: 1;
    }
  }

  .text-container {
    @include box-sizing(content-box);
    padding-top: $top-space + 1px;
    margin-top: -1 * ($top-space + 1px);
    position: relative;
    z-index: 10;
    width: 100%;
    height: 100%;
    // background-color: #302a2a;
    opacity: 0;
    @include transition-property(opacity);
    @include transition-timing-function(ease);
    @include transition-delay(5s);
    @include transition-duration(1000ms);
  }

  .text {
    @include fit('despair/text2.png');

    img {
      position: absolute;
      left: 10%;
      top: 10%;
      width: 80%;
      height: 80%;
    }
  }
}