#despair {
  &, .inner {
    background-color: #3f6d6d;
  }

  .runners {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;

    img {
      position: absolute;
      display: block;
      height: 100%;
      width: auto;
      max-width: none;
    }

    .despairing-runner {
      left: 50%;
      @include transform(translateX(-50%));
    }

    .lady-runner, .crutch-runner, .fat-runner, .african-runner {
      left: 0%;
      @include transform(translateX(-100%));
      @include transition-property(left, transform);
      @include transition-timing-function(linear);
    }

    .tears {
      opacity: 1;
      top: 100%;
      @include transition(opacity 300ms ease 3s, top 1.5s linear 3s);
    }
  }

  &.play {
    .runners {
      .lady-runner, .crutch-runner, .fat-runner, .african-runner {
        left: 100%;
        @include transform(translateX(0%));
      }
    }
  }
}