@-webkit-keyframes snore-1 {
  0%{ opacity: 1; }
  49%{ opacity: 1; }
  50%{ opacity: 0; }
  99%{ opacity: 0; }
  100%{ opacity: 1; }
}

@-webkit-keyframes snore-2 {
  0%{ opacity: 0; }
  49%{ opacity: 0; }
  50%{ opacity: 1; }
  99%{ opacity: 1; }
  100%{ opacity: 0; }
}

#exhaustion {
  background-color: #E4C54A;
  .person-container {
    @include fit('exhaustion/person.png');

    .person-and-shoes {
      position: absolute;
      height: 100%;
      width: 100%;

      img {
        position: absolute;
        height: 100%;
        width: 100%;
      }
    }

    .mouth-1, .tummy-1 {
      -webkit-animation-name: snore-1;
      -webkit-animation-duration: 3s;
      -webkit-animation-iteration-count: infinite;
    }

    .mouth-2, .tummy-2 {
      -webkit-animation-name: snore-2;
      -webkit-animation-duration: 3s;
      -webkit-animation-iteration-count: infinite;
    }
  }

  .line {
    display: none;
  }

  .z {
    top: 48%;
    left: 52%;

    img {
      @include center;
    }
  }

  .z.x {

    .container {
      @include transform(translate(-50%, -50%) rotate(80deg));
    }

    img {
      position: absolute;
      left: 0;
      top: 0;
      @include transform(none);
    }
  }
}