#exhaustion {
  .person {
    @include fit('person.png');

    img {
      height: 100%;
      width: auto;
      max-width: none;
    }
  }

  .line {
    display: none;
  }

  .z {
    top: 38%;
    left: 62%;

    img {
      @include center;
    }
  }
}