#exhaustion {
  @include texture;

  .inner {
    background-color: $brown;
    @include background-image(radial-gradient(transparent, rgba(black, 0.5)));
  }

  .background-shape {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .figures {
    position: absolute;
    width: 100%;
    height: 100%;

    img {
      position: absolute;
      height: 100%;
      width: 100%;
    }
  }

  .illustration {
    position: relative;
    height: 100%;
    display: inline-block;

    img {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
    }

    .chap {
      position: relative;
      height: 100%;
      width: auto;
    }
  }

  .ground {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 50%;
    background-image: image-url('despair/ground.png');
    @include background-size(auto 100%);
  }

  .z {
    position: absolute;
    top: 36%;
    left: 59%;

    img {
      position: static;
    }
  }

  .text1 {
    @include fit('exhaustion/text1.png');
  }

  .text2 {
    @include fit('exhaustion/text3.png');
  }

  .text-container {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }

  .text-wrapper {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

    img {
      position: absolute;
      left: 10%;
      top: 10%;
      width: 80%;
      height: 80%;
    }
  }

  @media screen and (max-aspect-ratio: 16/10) {
    .illustration {
      position: absolute;
      top: 50%;
      left: 0;
      width: 100%;
      height: auto;

      @include transform(translateY(-50%));

      .chap {
        width: 100%;
        height: auto;
      }
    }
  }
}