#impossible {
  .runners {
    position: absolute;
    bottom: 0;
    width: 100%;
    @include fit('hunched-person.png');
    overflow: hidden;

    img {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      height: auto;
    }

    .foreground-runners {
      left: -100%;

    }

    .background-runners {
      left: -100%;
    }

    .tears {
      opacity: 0;
      top: -5%;
    }
  }

  &.play {
    .runners {
      .foreground-runners {
        left: 100%;
        @include transition(left 2.5s linear 0.5s);
      }

      .background-runners {
        left: 100%;
        @include transition(left 3s linear);
      }

      .tears {
        opacity: 1;
        top: 100%;
        @include transition(opacity 300ms ease 3s, top 1.5s linear 3s);
      }
    }
  }
}