#register {
  .inner {
    background-color: #302a2a;
    color: white;
    font-size: 30px;
    font-family: 'brandon-grotesque';
    text-transform: uppercase;
    letter-spacing: 2px;
    display: table;
  }

  .inner-2 {
    display: table-cell;
    vertical-align: middle;
  }

  p {
    margin: 0;
  }

  .title {
    font-size: 50px;
  }

  .button.register {
    margin-top: 20px;
  }
}