#register {
  &, .inner {
    background-color: #302a2a;
  }

  p {
    margin: 0;
    padding: 0;
    color: white;
    font-size: 40px;
    font-family: 'brandon-grotesque';
    line-height: 150%;
    font-weight: 400;
  }

  .title {
    font-size: 50px;
    text-transform: uppercase;
    letter-spacing: 2px;
  }

  .button.register {
    margin-top: 20px;
  }

  .sponsors {
    @include reset-list;
    margin-top: 40px;
    text-align: center;

    li {
      display: inline-block;
      margin: 0 10px;
    }
  }
}