#scroll-button {
  position: fixed;
  display: block;
  bottom: 0;
  left: 50%;
  @include transform(translateX(-50%) translateY(25%) scale(0.5));
  z-index: 200;

  background: image-url('scroll.png') no-repeat;
  width: image-width('scroll.png');
  height: image-height('scroll.png');
}

body.plain #scroll-button {
  background: #2b1e13;
  height: image-height('scroll.png');
  width: 2 * image-height('scroll.png');
  @include border-radius(2 * image-height('scroll.png') 2 * image-height('scroll.png') 0 0);

  padding-top: 15px;

  color: white;
  text-transform: lowercase;

  &:after {
    font-size: 60px;
    @include icon;
    content: '\e80b';
    display: block;
    text-align: center;
    margin: 0;
    padding: 0;
    width: 100%;
  }
}