#scroll-button {
  position: fixed;
  display: block;
  bottom: 0;
  left: 50%;
  @include transform(translateX(-50%) translateY(25%) scale(0.5));
  z-index: 200;

  background: image-url('scroll.png') no-repeat;
  width: image-width('scroll.png');
  height: image-height('scroll.png');
}