#start .sponsors-container {
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;

  .sponsors-inner {
    position: absolute;
    left: 50%;
    top: 50%;
    @include transform(translate(-50%, -50%));
  }

  ul {
    @include reset-list;
    z-index: 130;
  }

  li {
    vertical-align: middle;
    display: inline-block;
    margin: 0 10px;
  }

  img {
    @include transition(opacity 250ms ease);
  }

  p {
    font-size: 20px;
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
    color: $off-white;
  }

  .sponsors-2 {
    margin-top: 60px;
  }
}