#start {
  & {
    background-color: transparent;
  }

  .text {
    @include fit('start/text-alt.png');

    img {
      position: absolute;
      left: 10%;
      top: 10%;
      width: 80%;
      height: 80%;
    }
  }

  .dates {
    font-family: 'brandon-grotesque';
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    @include transform(translateY(-50%));
    color: white;
    font-size: 90px;
  }

  .text-container {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    bottom: 0;
  }

  .dates-container {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    bottom: 0;
  }
}