#start {
  & {
    background-color: transparent;
  }

  .text {
    @include fit('start/text1.png');

    img {
      position: absolute;
      left: 10%;
      top: 10%;
      width: 80%;
      height: 80%;
    }
  }
}