#victory {
  background-color: transparent;

  .inner {
    @include texture;
  }

  .text {
    @include fit('victory/text3.2.png');

    img {
      position: absolute;
      left: 10%;
      top: 10%;
      width: 80%;
      height: 80%;
    }
  }

  .text-container {
    position: absolute;
    top: 50%;
    bottom: 0;
    left: 0;
    right: 0;
  }
}